<style>
    img{
        width: 270px;
        height: 200px;
    }
    input[type=number]{
        width: 55px;
        margin-top: 4px;
    }
</style>
<div class="row justify-content-center">
    <div class="col-lg-8">
        <div class="jumbotron jumbotron-fluid bg-dark text-light">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 offset-2">
                        <img class="img-fluid" ng-src="{{restaurant.image}}">

                    </div>
                    <div class="col-lg-5">
                        <div class="row mb-0">
                            <h2>{{restaurant.name}}</h2>
                        </div>
                        <div class="row text-muted" style="margin-top: -18px">
                            {{restaurant.address}}
                        </div>
                        <div class="row mt-2">
                            <p>{{restaurant.description}}</p>
                        </div>
                        <div class="row">
                            Opens:{{restaurant['timing-start']}}  | Closes:{{restaurant['timing-end']}}
                        </div>

                    </div>

                </div>


            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-lg-8">
        <div ng-repeat="rest in restaurant.items" ng-if="$index%3==0" class="row">

            <div class="col-md-4 mb-3">
                <div class="card">
                    <img class="card-img-top" ng-src="{{restaurant.items[$index].image}}">
                    <div class="card-body">
                        <h4 class="card-title">{{restaurant.items[$index].name}}</h4>
                        <p class="text-muted justify-content-end">Cost:{{restaurant.items[$index].price}}</p>
                        <p class="card-text">{{restaurant.items[$index].description}}</p>
                    </div>
                    <div class="card-footer" ng-if="loggedin">
                        <input type="number" value="1" ng-model="quantity[$index]">
                        <button class="btn btn-success" ng-click="add($index)">Add</button>
                        <button class="btn btn-danger float-right" ng-click="remove($index)"><span class="fa fa-trash"></span></button>
                    </div>
                </div>
            </div>
            <div class="col-md-4" ng-if="isvalid($index+1)">
                <div class="card">
                    <img class="card-img-top" ng-src="{{restaurant.items[$index+1].image}}">
                    <div class="card-body">
                        <h4 class="card-title">{{restaurant.items[$index+1].name}}</h4>
                        <p class="text-muted justify-content-end">Cost:{{restaurant.items[$index+1].price}}</p>
                        <p class="card-text">{{restaurant.items[$index+1].description}}</p>

                    </div>
                    <div class="card-footer" ng-if="loggedin">
                        <input type="number" value="1" ng-model="quantity[$index+1]">
                        <button class="btn btn-success" ng-click="add($index+1)">Add</button>
                        <button class="btn btn-danger float-right" ng-click="remove($index+1)"><span class="fa fa-trash"></span></button>
                    </div>
                </div>
            </div>
            <div class="col-md-4" ng-if="isvalid($index+2)">
                <div class="card">
                    <img class="card-img-top" ng-src="{{restaurant.items[$index+2].image}}">
                    <div class="card-body">
                        <h4 class="card-title">{{restaurant.items[$index+2].name}}</h4>
                        <p class="text-muted justify-content-end">Cost:{{restaurant.items[$index+2].price}}</p>
                        <p class="card-text">{{restaurant.items[$index+2].description}}</p>
                    </div>
                    <div class="card-footer" ng-if="loggedin">
                        <input type="number" value="1" ng-model="quantity[$index+2]">
                        <button class="btn btn-success" ng-click="add($index+2)">Add</button>
                        <button class="btn btn-danger float-right" ng-click="remove($index+2)"><span class="fa fa-trash"></span></button>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>