<div class="row">
    <div class="col-lg-4 offset-4">
        <div class="form-group text-center">
            <label class="radio-inline ml-1"><input type="radio" name="type" ng-model="type" value="1">Customer</label>
            |
            <label class="radio-inline ml-1"><input type="radio" name="type" ng-model="type" value="2">Restaurant</label>
        </div>
        <div class="form-group" ng-show="type==1">
            <label for="firstname">First Name:</label>
            <input type="text" class="form-control" id="firstname" ng-model="firstname">
        </div>
        <div class="form-group" ng-show="type==1">
            <label for="lastname">Last Name:</label>
            <input type="text" class="form-control" id="lastname" ng-model="lastname">
        </div>
        <div class="form-group" ng-show="type==2">
            <label for="restname">Restaurant Name:</label>
            <input type="text" class="form-control" id="restname" ng-model="restname">
        </div>
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" class="form-control" id="username" ng-model="username">
        </div>
        <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" id="pwd" ng-model="pwd">
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary" ng-click="register()">Register</button>
        </div>

    </div>
</div>