<div class="row" >
    <div class="col-lg-4 offset-4">
        <div>
            <center>
            <img src="imgs/images.jpeg" alt="Restaurant" style="width:80%">
            
        </div>
        <div class="form-group">
            <label for="RestrauntName">Restaurant Name:</label>
            <input type="text" class="form-control" id="restname" ng-model="restr.name">
        </div>
        <div class="form-group">
            <label for="Description">Description:</label>
            <input type="text" class="form-control" id="Description" ng-model="restr.description">
        </div>
        
        <div class="form-group">
            <label for="OpenTime">Open:</label>
            <input type="text" class="form-control" id="open" ng-model="restr.open">
        </div>
        <div class="form-group">
            <label for="CloseTime">Close:</label>
            <input type="text" class="form-control" id="username" ng-model="restr.close">
        </div>
        
        <div class="text-center">
            <button type="submit" class="btn btn-primary" ng-click="Register()">Submit</button>
            <button type="clear" class="btn btn-primary" ng-click="Clear()">Clear</button>
        </div>

    </div>
</div>